data/raw/train/*.csv
data/processed/.DS_Store
data/processed/train/.DS_Store
data/raw/archived/.DS_Store
data/raw/test/.DS_Store
data/raw/train/.DS_Store
references/.DS_Store
references/archived/.DS_Store
archived
notebooks/examples/*.ipynb
