archived
data/raw/train/train_applprev_1_0.csv
data/raw/train/train_applprev_1_1.csv
data/raw/train/train_applprev_2.csv
data/raw/train/train_base.csv
data/raw/train/train_credit_bureau_a_1_0.csv
data/raw/train/train_credit_bureau_a_1_1.csv
data/raw/train/train_credit_bureau_a_1_2.csv
data/raw/train/train_credit_bureau_a_1_3.csv
data/raw/train/train_credit_bureau_a_2_0.csv
data/raw/train/train_credit_bureau_a_2_1.csv
data/raw/train/train_credit_bureau_a_2_10.csv
data/raw/train/train_credit_bureau_a_2_2.csv
data/raw/train/train_credit_bureau_a_2_3.csv
data/raw/train/train_credit_bureau_a_2_4.csv
data/raw/train/train_credit_bureau_a_2_5.csv
data/raw/train/train_credit_bureau_a_2_6.csv
data/raw/train/train_credit_bureau_a_2_7.csv
data/raw/train/train_credit_bureau_a_2_8.csv
data/raw/train/train_credit_bureau_a_2_9.csv
data/raw/train/train_credit_bureau_b_1.csv
data/raw/train/train_credit_bureau_b_2.csv
data/raw/train/train_debitcard_1.csv
data/raw/train/train_deposit_1.csv
data/raw/train/train_other_1.csv
data/raw/train/train_person_1.csv
data/raw/train/train_person_2.csv
data/raw/train/train_static_0_0.csv
data/raw/train/train_static_0_1.csv
data/raw/train/train_static_cb_0.csv
data/raw/train/train_tax_registry_a_1.csv
data/raw/train/train_tax_registry_b_1.csv
data/raw/train/train_tax_registry_c_1.csv

.DS_Store
data/.DS_Store
data/processed/.DS_Store
data/processed/train/.DS_Store
data/raw/.DS_Store
data/raw/csv_files/.DS_Store
notebooks/.DS_Store
notebooks/example/home-credit-2024-starter-notebook.ipynb
notebooks/example/home-credit-baseline.ipynb
notebooks/example/home-credit-risk-lightgbm.ipynb
notebooks/example/home-credit-risk-mode-utility-scripts.ipynb
notebooks/example/homecredit-starter-inference-v1.ipynb
notebooks/examples/credit-risk-eda-xgboost-depth-0-gpu.ipynb
notebooks/examples/home-credit-2024-starter-notebook.ipynb
notebooks/examples/home-credit-baseline.ipynb
notebooks/examples/home-credit-risk-lightgbm.ipynb
notebooks/examples/home-credit-risk-mode-utility-scripts.ipynb
notebooks/examples/homecredit-starter-inference-v1.ipynb
